{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fuar Promet{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'fuar_logo.png' %}" alt="logo" width="100">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links + Language Dropdown -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-3">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/products/">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="/services/">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/our_work/">Our Work</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>

            <!-- Language Switcher -->
            <form action="/i18n/setlang/" method="post" class="d-flex language-form">
                <input type="hidden" name="csrfmiddlewaretoken"
                       value="acdDyGhrN34247qjwOoZlhzYSXanXj9qeXiSklp5SLODtUfqGqFWbQqeb1YasAAR">

                <select name="language" onchange="this.form.submit()" class="language-selector form-select me-5">
                    <option value="mk">MK</option>
                    <option value="en" selected="">EN</option>
                    <option value="sq">AL</option>
                    <option value="tr">TR</option>
                </select>
            </form>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div>
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="bg-dark d-flex justify-content-center p-3 mt-5">
    <p class="text-bold mb-0">© Fuar Promet 2025/2026</p>
</footer>

<!-- Bootstrap JS - Loaded at the end -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block extra_js %}
{% endblock %}

</body>
</html>